<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="return-up-back-outline"  [routerLink]="['/tabs/tab5']" size="large"></ion-icon>
    <ion-title>Nuevo artículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label style="font-size: large">Tarea:</ion-label>
  <ion-input type="text" placeholder="Cantidad" [(ngModel)]="lista.cantidad"></ion-input>
  <ion-input type="text" placeholder="Unidad" [(ngModel)]="lista.unidad"></ion-input>
  <ion-input type="text" placeholder="Artículo" [(ngModel)]="lista.nombre"></ion-input>
  <ion-input type="text" placeholder="Descripción" [(ngModel)]="lista.descripcion"></ion-input>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ng-template [ngIf]= "data" [ngIfElse]="elseBlock">
      <ion-button (click)="actualizarLista()" size="small" shape="round">
        Actualizar
      </ion-button>
    </ng-template>
      <ng-template #elseBlock>
      <ion-button (click)="crearLista()" size="small" shape="round">
        Guardar
      </ion-button>
    </ng-template>
    </ion-col>
  </ion-row>
</ion-content>