
  <ion-content>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
    </ion-item>

    <ion-datetime
              #datetime
              displayFormat="DD-MMM-YYYY"
              locale="en-US"
              [firstDayOfWeek]="1"
              [showDefaultButtons]="true"
              cancelText="Cancel"
              doneText="ok"
              (ionChange) = "onTimeSelected($event)"
              >
              <span slot="title">My Calendar</span>
              <span slot="time-label">Time</span>
            </ion-datetime>

  </ion-content>
