:host ::ng-deep {
    .monthview-container {
        height: auto !important;
    }
 
    .event-detail-container {
        display: none;
    }
    .weekview-allday-table{
        display: none;
    }
        
    .weekview-normal-event-container{
    margin-top: 37px;
    }

    .monthview-allday-table{
        display: none;
    }
        
    .monthview-normal-event-container{
    margin-top: 37px;
    }


    font-size: 30px;

    .inputText {
        font-size: 30px;
    }

    .inputText2 {
        font-size: 25px;
    }

    button {
        font-size: 40px;
    }

}

.cTitle {
    font-size: 20px;
}