
  <ion-content>
    <ion-item>
      <ion-label class="inputText" position="stacked">Title</ion-label><br>
      <ion-input
      class="inputText2"
      tpye="text" [(ngModel)]="event.title"
      style="background-color: aliceblue"
      placeholder="Title">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="inputText" position="stacked">Description</ion-label>
      <ion-textarea
      class="inputText2"
      type="text" [(ngModel)]="event.desc"
      spellcheck="true"
      style="background-color: aliceblue"
      placeholder="Description...">
      </ion-textarea>
    </ion-item>

    <ion-datetime
              #datetime
              displayFormat="DD-MMM-YYYY"
              locale="en-US"
              [firstDayOfWeek]="1"
              [showDefaultButtons]="true"
              cancelText="Cancel"
              doneText="ok"
              (ionChange) = "onTimeSelected($event)"
              >
              <span slot="title" class="cTitle">My Calendar</span>
              <span slot="time-label">Time</span>
            </ion-datetime>

  </ion-content>
