<ion-header>
  <ion-toolbar>
    <ion-title class="header" color="tertiary">
      Calendar
    </ion-title>

<span class="add" slot="end">
  <ion-icon class="icon" name="add" slot="icon-only" style="font-size: 40px" (click)="openCalModal()"></ion-icon>
</span>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>By month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>By Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>By Day</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="6" style="text-align: center" slots="end">
      <button class="button" (click)="presentAlertConfirm()">
        Delete events
      </button>
    </ion-col>

  </ion-row>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <button class="button" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <button class="button" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <calendar class="calendar"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    [startHour] = "calendar.startHour"
    [endHour] = "calendar.endHour"
    [step]="calendar.step"
    [startingDayWeek]="calendar.startingDayWeek"
    [monthviewDisplayEventTemplate]="template"
    allDayLabel="Event:"
    noEventsLabel="No event"
    [startingDayMonth]="calendar.startingDayMonth"
     >

  </calendar>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div class="template" [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>


</ion-content>
