.indicator-container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
  }
   
  .event-indicator {
    background: var(--ion-color-success);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }
   
  :host ::ng-deep {
    .monthview-primary-with-event {
      background-color: white !important;
    }
   
    .monthview-selected {
      background-color: let(--ion-color-success) !important;
    }
  }
   
  .with-event {
    background-color: let(--ion-color-primary);
    border-radius: 15px;
  }

  .add {
    margin-right: 10px;
    border: 1px solid blue;
  }

  .icon {
    color: blue;
  }

  .calendar{
    color: blue;
  }

  .template{
    color: rgb(4, 6, 131);
    background-color: rgb(229, 235, 252);
  }

  .indicator-container{
    background-color: rgb(210, 219, 248);
  }

  .event-indicator{
    background-color: red;
  }