.toolbar-container {
    display: flex;
    text-align: left;
}

.card {
    text-align: left;
    background-color: rgb(252, 252, 72);
    border-radius: 15px;
    box-shadow: 5px 5px rgb(124, 124, 3);
}

.trash {
    size: large;
     color: red;
     border: none;
     justify-content: right;
}

.content {
    display: flex;
    flex-direction: row;
    font-size: large;
    color: black;
    font-style: italic;
}

.delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
}

.title {
    color: black;
    font-weight: bold;
}

ion-img {
    width: 100px;
    height: 100px;
  }

.menu{
    margin-bottom: 40px;
}

.imagen {
    margin-right: 10px;
}

.cardContent{
    width: 100%;
}

ion-popover {
  --width: auto;
  --height: auto
}
.hydrated {
    text-align: center;
}
