ion-popover.popTime {
    --offset-y: -200px !important;
  }

ion-datetime {
    color: rgb(160, 98, 6);
    background-color: rgb(234, 243, 250);
}

.task {
  --background: rgb(21, 102, 177);
  color: white;
  box-shadow: 5px 5px rgb(65, 65, 175);
  border-radius: 10px;
  width: 97%;
  margin-left: 5px;
}

ion-checkbox{
  color: red;
  margin-right: 10px;
}

ion-item {
  font-size: 16px;
}

ion-icon {
  margin-inline-end: 5px;
}

div.input-wrapper {
  padding-right: 0%;
  margin-right: 0%;
 }

 .date {
  color: yellow;
 }
