<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" style="text-align: center">
        <ion-button [routerLink]="['/contactos']" size="nedium">
        Add Contact
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let item of contactosAlmacenados">
    <ion-card class="card" style="border-radius: 15px">
      <ion-card-content class="menu">
      <ion-row class="header">
        <ion-col class="menuCol" size="11">
          <ion-label color="primary">ID: {{item.id}}</ion-label>
        </ion-col>
        <ion-col class="menuCol" size="1">
            <ion-icon class="button-menu" size="large" name="ellipsis-vertical-outline" (click)="onOpenMenu(item.id)"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-card-content>
      <ion-card-content class="data">
        <ion-row class="ion-no-border">
          <ion-col size="4">
            <ion-avatar id="myImage{{item.id}}" size="large">
              <img  src="{{item.imagen}}">
            </ion-avatar><br><br>
          </ion-col>
          <ion-col size="8">
            <ion-card-title class="title"> {{item.nombre}} {{item.apellidos}}</ion-card-title>
            <ion-card-content class="title">
            Email: {{item.email}}<br>
            Adr.: {{item.direccion}}<br>
            Ph.: {{item.telefono}}<br>
          </ion-card-content>
            <ion-icon size="large" color="success" name="create-outline" (click)="editarContacto(item)"></ion-icon>
            <ion-icon class="action" size="large" color="warning" name="mail-outline" (click)="openMail(item.email)"></ion-icon>
            <ion-icon class="action caller" size="large" name="call-outline" (click)="numberCaller(item.telefono)"></ion-icon>
            <ion-icon name="trash" size="large" color="danger" style="float: right" (click)="presentAlertConfirm(item.id, item.nombre)"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-popover id="popover{{item.id}}" trigger="myImage{{item.id}}" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding"><img src="{{item.imagen}}" alt=""></ion-content>
          </ng-template>
        </ion-popover>

      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
