.menu {
  height: 40px;
  padding-top: 4px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-menu {
  color: rgb(241, 168, 85);
}

.header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
}

.data {
  margin-top: 0;
  padding-top: 0;
}

.menuCol {
  height: 35px;
}

ion-avatar {
    width: fit-content;
    margin: 0%;
    padding: 0%;
    img {
    width:110px !important;
    height : 110px !important;
    }
}


ion-card.ion-color .ion-inherit-color, ion-card-header.ion-color .ion-inherit-color {
    color: rgb(239, 243, 29);
    margin-right: 0%;
    padding-right: 0%;
}


.action {
    margin-left: 15px;
}

.caller {
    color: rgb(189, 106, 185);
}

.card{
  box-shadow: 7px 7px rgb(65, 65, 175);
  background-color: rgb(21, 102, 177);
}

.title {
    color: aliceblue;
}
