<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="return-up-back-outline" (click)="volver()" size="large"></ion-icon>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-row>
    <ion-col size="12" style="text-align: center">

    <ion-title color="primary">Add contact</ion-title>

<form [formGroup] = "contactos" (ngSubmit)="onSubmit(datos)">
  <ion-item>
    <ion-label position="floating">Name<ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="nombre" type="text" [(ngModel)]="datos.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="apellidos" type="text" [(ngModel)]="datos.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="direccion" type="text" [(ngModel)]="datos.direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="telefono" type="text" [(ngModel)]="datos.telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="email" type="text" [(ngModel)]="datos.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Image:</ion-label>
    <ion-input type="hidden" value="/src/assets/contactos/{{contactos.value.id}}"></ion-input>
    <ion-img src="{{imagen[0]}}" alt="Sin imagen" (click)="captura()"></ion-img>
  </ion-item>  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ng-template [ngIf]="value" [ngIfElse]="elseBlock">
        <button class="button" type="submit" [disabled]="contactos.invalid">
          Update Contact
        </button>
      </ng-template>
      <ng-template #elseBlock>
        <button class="button" type="submit" [disabled]="contactos.invalid">
          Save Contact
        </button>
      </ng-template>
    </ion-col>
  </ion-row>
</form>
</ion-col>
</ion-row>

</ion-content>
