
<ion-header>
  <ion-toolbar>
    <ion-title class="header" [routerLink]="['/tabs/tab1']">e-PO</ion-title>
  </ion-toolbar>
</ion-header>

<h1 class="header2">Power of Time Management<br/>on your hand</h1>
<div id="atom">
  <div id="nucleus">
    <img src="assets/e-pa_0.png" alt="">
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
</div>

<h4 class="header4">Events List:</h4>
<div *ngFor="let item of (agenda | slice:agenda.length - 4)">
  <p id="events" (click)="onEventSelected(item)">{{item.title | titlecase}}: {{item.desc | titlecase}}</p><br>
</div>

<ion-content>

</ion-content>

