
<ion-header>
  <ion-toolbar>
    <ion-title class="header" [routerLink]="['/tabs/tab1']">e-PO</ion-title>
  </ion-toolbar>
</ion-header>

<h1 class="header2">Today tip:<br/>{{todayTips}}</h1>

<div id="atom">
  <div id="nucleus">
    <img src="assets/e-pa_0.png" alt="">
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
  <div class="orbit">
    <div class="electron"></div>
  </div>
</div>

<div class="fastview">
<div>  
  <h4 class="header4">Events List:</h4>
  <div *ngFor="let item of (agenda | slice: 0 : 4)">
    <p id="events" (click)="onEventSelected(item)">{{item.title | titlecase}}: {{item.desc | titlecase}}</p><br>
  </div>
</div>
<div>
  <h4 class="header4">Pending tasks:</h4>
  <p id="events" [routerLink]="['/tabs/tab1']">
    {{pendingTasks}}
  </p>
  <h4 class="header4">Notes:</h4>
  <p id="events" [routerLink]="['/tabs/tab2']">
    {{pendingNotes}}
  </p>
</div>
</div>

<ion-content>

</ion-content>

